:root {
    --first-primary-color: #212121;
    --second-primary-color: #757575;
    --accent-color: #2196F3;
    --white: #FFFFFF;
    --black: #000000;
    --grey: rgba(255, 255, 255, 0.6);
    --secondary-background-color: #2F303A;
    --additional-background-color: #F5F4FA;
    --active-btn-color: #188CE8;
    --icon-color: #AFB1B8;
}
/* body */
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--first-primary-color);
    background-color: var(--white);
}
/* link */
.link {
    text-decoration: none;
}
/* glabal margins reset */
h1,h2,h3,h4,h5,h6,p,ul {
    margin-top: 0;
    margin-bottom: 0;
}
/* img */
img {
    display: block;
    max-width: 100%;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.section-title {
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* header */
.logo {
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:#ECECEC;
}

.header .logo {
    margin-right: 93px;
    color: var(--black);
}

.list {
    list-style: none;
    padding-left: 0px;
}

header > .container {
    align-items: center;
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-nav-list {
    align-items: center;
    display: flex;
}

.header-nav-list .item:not(:last-child) {
    margin-right: 50px;
}
.header-nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    letter-spacing: 0.02em;
    color: var(--first-primary-color);
}

.header-nav-link.current {
    color: var(--accent-color);
}

.header-contact-list {
    display: flex;
    margin-left: auto;
}

.header-contact-list .item + .item {
    margin-left: 50px;
}

.header-contact-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 10px;

    letter-spacing: 0.02em;
    line-height: 1.14;
    font-weight: 500;
    
    color: var(--second-primary-color);
}

.icon-contact {
    margin-right: 10px;
    fill: currentColor;
}

.header-contact-list .item {
    display: flex;
    align-items: center;
}

/* sections */
section {
    padding-top: 94px;
    padding-bottom: 94px;
}
section.other-paddings {
    padding-top: 200px;
    padding-bottom: 200px;
}
section.no-bottom-padding {
    padding-bottom: 0px;
}

/* hero */
.hero {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--secondary-background-color);
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/background/hero-bgd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* last 2?? */
}

.hero-title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}

.hero-btn {
    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: inherit;

    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--accent-color);
    color: var(--white);
    cursor: pointer;
    
}
.hero-btn:hover, .hero-btn:focus {
    background-color: var(--active-btn-color);
}
/* Advantages Section */
.advantages-list {
    display: flex;
}

.advantages-list .item:not(:last-child) {
    margin-right: 30px;
}

.advantages-list .item {
    width: calc((100%-90px)/4);
}

.advantages-container {
    margin-bottom: 30px;
    display: flex;
    height: 120px;
    width: 270px;
    justify-content: center;
    align-items: center;

    background-color: var(--additional-background-color);
    border-radius: 4px;
}

.advantages-icon {
    width: 70px;
    height: 70px;
}

/* додавання іконок в секції Переваги як псевдоелементи  */

/* .advantages-list .item::before {
    display: inline-block;
    content: '';
    height: 120px;
    width: 270px;
    background-color: var(--additional-background-color);
    border-radius: 4px;
    margin-bottom: 30px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
}

.icon-antenna::before {
    background-image: url(../images/svg/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/svg/clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/svg/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/svg/astronaut.svg);
} */

.advantages-list-title {
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.advantages-list-descr {
    line-height: 1.71;
    color: var(--second-primary-color)
}
/* About Section */
.about-list {
    display: flex;
}

.about-list .item:not(:last-child) {
    margin-right: 30px;
}
/* Our Team Section */
.team {
   background-color: var(--additional-background-color);
}

.team-list {
    display: flex;
}

.team-list .item {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item:not(:last-child) {
    margin-right: 30px;
}

.team-list-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
}
.team-list-descr {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--second-primary-color)
}

.socials-list {
    display: flex;
    justify-content: center;
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-link {
    width: 44px;
    height: 44px;
    color: var(--icon-color);
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-link.link:hover,
.socials-link.link:focus {
    color: var(--white);
    background-color: var(--accent-color);
}

.socials-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.team-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Clients Section */

.clients-list {
    display: flex;
    justify-content: center;
}

.clients-list-item:not(:last-child) {
    margin-right: 30px;
}

.clients-link {
    width: 170px;
    height: 92px;;
    display: flex;
    justify-content: center;
    align-items: center;

    color:  var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px; 
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

/* footer */
.footer .container {
    display: flex;
    align-items: baseline;
}
.footer .logo {
    display: block;
    margin-bottom: 20px;
    color: var(--white);
}

.logo-web {
    color: var(--accent-color);
}

.footer {
    background-color: var(--secondary-background-color);
}

.footer > .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-list .item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-list-link {
    line-height: 1.71;    
    color: var(--grey);
    font-style: inherit;
}
.footer-address{
    font-style: normal;
}
.address {
    color: var(--white)
}
/* footer socials */
.footer-socials {
    margin-left: 70px;
}

.call-to-action {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--white);
}

.footer .socials-link {
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.1);;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.list {
    list-style: none;
}

/* portfolio.html */
/* Projects Section */
.projects-btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.projects-btn-list .item:not(:last-child) {
    margin-right: 8px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-list .item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.projects-list .item:nth-child(3n) {
    margin-right: 0px;
}

.card-border {
    padding: 20px 24px;

    border: 1px solid #EEEEEE;
    border-top: 0px;
}

.projects-link {
    display: block;
}

.projects-link:hover, 
.projects-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects {
    margin-bottom: -30px;
}

.projects-list-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-primary-color);
}

.projects-list-category {
    font-size: 16px;
    line-height: 1.86;    
    color: var(--second-primary-color);
}

.projects-btn {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: inherit;
    letter-spacing: inherit;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}
.projects-btn.main-btn {
    padding: 6px 25px;
}

.projects-btn:hover,
.projects-btn:focus {
    background-color: var(--accent-color);
    color:var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}